<div class="iscroll-wrapper" iscroll>
  <div class="iscroll-scroller">
    <div class="modal-body">
      <div class="well">
        <p>
          This modal dialog shows how a model can be shared between the three
          separate views: <code>header</code>, <code>contents</code>, and <code>footer</code>.
        </p>

        <p>
          Each view has its own controller (in this case, an instance of a
          minimal <code>SharedStateController</code>). The controller instances
          each get injected with a <code>sharedState</code> service, which only
          exports a single, shared object. This shared object is then assigned
          to each controller instance's injected <code>$scope</code>. As a
          result, each of the checkboxes in this examples have a <code>ng-model="state.a"</code>
          attribute.
        </p>

        <label class="text-danger"><input type="checkbox" autocomplete="off"
                                          ng-model="state.a">
          Shared value in body</label>

        <p>
          Please note that the providing and consuming the shared state is not
          handled by <code>core-layout</code> itself, but rather through
          AngularJS' standard ways of doing this when scopes that need to
          communicate are not children of each other and you don't want to
          litter the <code>$rootScope</code>.
        </p>
      </div>
    </div>
  </div>
</div>
