.cl-modal-box {
  .cl-header, .cl-footer {
    z-index: $cl-modal-header-z-index;
  }
  .cl-header {
    height: $cl-modal-header-height;
  }
  .cl-contents {
    top: $cl-modal-header-height;
    bottom: $cl-modal-footer-height;
  }
  .cl-footer {
    height: $cl-modal-footer-height;
  }
}

.cl-modal-overlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $cl-modal-z-index;
  background-color: $cl-modal-overlay-color;
  pointer-events: none;
}

.cl-modal-box {
  position: absolute;
  background-color: $cl-modal-box-bg-color;
  pointer-events: auto;

  @media (max-width: $cl-screen-xs-max) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media (min-width: $cl-screen-sm-min) {
    // Center left-right and top-bottom.
    left: 50%;
    top: 50%;
    // The following, alternative method didn't work in Safari:
    //transform: translate(-50%, -50%);
  }
}

.iscroll-off {
  .cl-modal-box {
    .cl-header, .cl-contents, .cl-footer {
      position: absolute;
    }
    .cl-header, .cl-footer {
      overflow: hidden;
    }
    .cl-contents {
      overflow: auto;
    }
  }
}

@mixin cl-modal-box-def($size, $box-width, $box-height) {
  .cl-modal-box {
    width: $box-width;
    height: $box-height;
    margin: (- $box-height / 2) 0 0 (- $box-width / 2);
  }
}

@media (min-width: $cl-screen-sm-min) and (max-width: $cl-screen-sm-max) {
  @include cl-modal-box-def(sm, $cl-modal-box-width-sm,
          $cl-modal-box-height-sm);
}

@media (min-width: $cl-screen-md-min) and (max-width: $cl-screen-md-max) {
  @include cl-modal-box-def(md, $cl-modal-box-width-md,
          $cl-modal-box-height-md);
}

@media (min-width: $cl-screen-lg-min) {
  @include cl-modal-box-def(lg, $cl-modal-box-width-lg,
          $cl-modal-box-height-lg);
}
